body {
	margin: 0;
	padding: 0;
	width: 100%;
	color: #444444;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	text-align: justify;
}
#wrapper {
	overflow-x: hidden;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
p {
	font-size: 18px;
}
ul, ol {
	line-height: 1.5em;
	margin: 0.5em 0;
}
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -70%);
}
.floatRight {
	float: right;
	margin: 5px 0 20px 20px;
}
.floatLeft {
	float: left;
	margin: 5px 20px 20px 0px;
}
.topEdge {
	display: block;
	position: absolute;
	left: 0;
	bottom: 100%;
	width: 100%;
	height: 40px;
	z-index: 1;
}
.bottomEdge {
	display: block;
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	height: 40px;
	transform: scaleY(-1);
	z-index: 1;
}
.window {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	clip: rect(auto, auto, auto, auto);
	background-color: black;
	z-index: -2;
}
.window .far {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.window .far .bg {
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}
#first {
	position: relative;
	width: 100%;
	height: 100%;
}
#first .bg {
	opacity: 0;
	transition: opacity 1500ms;
	transition-delay: 1500ms;
}
#first #title {
	opacity: 0;
	color: white;
	font-family: "Pacifico", cursive;
	font-size: 80px;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	transition: opacity 1000ms;
	transition-delay: 500ms;
	margin-bottom: 30px;
}
#first #subtitle {
	opacity: 0;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	padding-top: 10px;
	transition: opacity 1000ms;
	transition-delay: 1000ms;
}
#first #line {
	margin: 0 auto 0 auto;
	background-color: white;
	height: 2px;
	width: 0;
	transition: width 1000ms;
}
#next {
	position: relative;
	width: 100%;
}
#next #intro h2, #next #projectIntro h2 {
	font-family: 'Sansita', sans-serif;
	text-align: center;
	font-size: 35px;
	font-weight: normal;
	font-style: normal;
}
#next #intro {
	position: relative;
	min-height: 400px;
	background-color: white;
	padding:40px;
}
#next #intro p {
	text-align: justify;
	line-height: 1.7em;
	max-width: 1200px;
	margin: 40px auto;
}
#next #projectIntro {
	position: relative;
	min-height: 300px;
	background-color: #ced7e0;
	padding:40px;
}
#next #projects {
	position: relative;
	width: 100%;
	height: 9000px;
}
#next #projects datetime {
	float: right;
	color: #AAAAAA;
	font-style: italic;
}
#next #projects .author {
	font-style: italic;
	margin-bottom: 40px;
}
#next #contact {
	position: relative;
	height: 250px;
	background-color: #444444;
	overflow: hidden;
	padding: 50px;
}
#next #contact #lineL{
	position: absolute;
	left: 50%;
	top: 112px;
	width: 200px;
	height: 3px;
	background-color: #CCCCCC;
	transform: translate(-340px, 0);
}
#next #contact #lineR{
	position: absolute;
	left: 50%;
	top: 112px;
	width: 200px;
	height: 3px;
	background-color: #CCCCCC;
	transform: translate(140px, 0);
}
#next #contact h2 {
	font-family: "Pacifico", cursive;
	text-align: center;
	color: #CCCCCC;
	font-size: 35px;
	font-weight: normal;
	font-style: normal;
	letter-spacing: 4px;
}
#next #contact #icons {
	text-align: center;
	margin-top: 60px;
}
#next #contact #icons a {
	color: #CCCCCC;
	margin: 0 70px;
	cursor: pointer;
}
#next #contact #icons a:link {
	color: #CCCCCC;
}
#next #contact #icons a:visited {
	color: #CCCCCC;
}
#linkedin span:hover {
	color: #88b2e8;
	transition: color 200ms;
}
#github span:hover {
	color: #bc88e8;
	transition: color 200ms;
}
#mail span:hover {
	color: #fff7db;
	transition: color 200ms;
}
#mail {
	transition: opacity 500ms;
}
#next #contact #generated {
	display: none;
	position: absolute;
	left: 50%;
	top: 215px;
	width: 300px;
	margin: 0 auto;
	text-align: center;
	color: #fff7db;
	transform: translate(-50%, 0);
}
#next footer {
	position: relative;
	height: 30px;
	background-color: #222222;
	padding: 4px 0;
}
#next footer p {
	text-align: center;
	color: #666666;
	font-size: 17px;
	margin: 4px 0;
}
.project {
	position: absolute;
	transition: top 500ms, left 500ms, transform 500ms;
}
.project .projectWrapper {
	position: absolute;
	left: 0;
	top: 0;
	transition: transform 300ms;
}
.project .front {
	position: absolute;
	left: -100px;
	top: -120px;
	width: 180px;
	height: 220px;
	background-color: white;
	margin: 0;
	padding: 10px;
	transition: transform 1000ms;
	backface-visibility: hidden;
	cursor: pointer;
}
.project .front .thumbnail {
	width: 100%;
}
.project .front figcaption {
	margin-top: 8px;
	width: 100%;
	text-align: center;
}
.project .front .shadow {
	position: absolute;
	left: -20px;
	top: -20px;
}
.project .back {
	position: absolute;
	left: -500px;
	top: -600px;
	width: 920px;
	height: 1120px;
	background-color: white;
	background-size: cover;
	background-position: center;
	margin: 0;
	padding: 40px;
	transform: rotateY(180deg);
	transition: transform 1000ms;
	backface-visibility: hidden;
}
.project .back h2 {
	font-family: 'Sansita', sans-serif;
	font-size: 30px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	margin: 20px 0;
}
.project .back .shadow {
	position: absolute;
	left: -40px;
	top: -40px;
	width: 1080px;
	height: 1280px;
	z-index: -1;
}
.imgWall {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 260px;
	width: 100%;
	background-color: #444444;
	overflow: hidden;
}
.imgWall .imgLine {
	position: absolute;
	top: 40px;
	left: 110px;
	height: 180px;
	width: 10000px;
	transition: left 500ms;
}
.imgWall .imgContainer {
	display: inline-block;
	height: 180px;
	width: 220px;
	margin: 0 20px;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	cursor: pointer;
}
.imgWall .rightShade {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
	cursor: pointer;
}
.imgWall .leftShade {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	transform: scaleX(-1);
	z-index: 1;
	cursor: pointer;
}
.imgWall .rightArrow {
	display: block;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translate(0, -50%);
	transition: right 300ms;
	z-index: 2;
	cursor: pointer;
}
.rightArrow:hover, .rightShade:hover + .rightArrow {
	right: 10px;
}
.imgWall .leftArrow {
	display: block;
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translate(0, -50%) scaleX(-1);
	transition: left 300ms;
	z-index: 2;
	cursor: pointer;
}
.leftArrow:hover, .leftShade:hover + .leftArrow {
	left: 10px;
}
.tags span {
	color: white;
	font-size: 15px;
	padding: 2px 6px;
	margin: 0 2px;
	border-radius: 15px;
}
.tags .tagCollegeProject {
	background-color: #0066ff;
}
.tags .tagPersonalProject {
	background-color: #ff0077;
}
.tags .tagAr {
	background-color: red;
}
.tags .tagAndroid {
	background-color: #99cc00;
}
.links {
	font-weight: bold;
}
.links a {
	margin: 0 5px;
	transition: color 200ms;
}
.links a:link {
	color: #4286f4;
}
.links a:visited {
	color: #9143e0;
}
.links a:hover {
	color: orange;
}
.links a:active {
	color: red;
}
#imgView {
	position: fixed;
	display: none;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 2000;
}
#imgView img {
	position: absolute;
	left: 50%;
	top: 50%;
	max-width: 96%;
	max-height: 96%;
	transform: translate(-50%, -50%);
}
#scrollBar {
	position: fixed;
	z-index: 100;
}
#scrollBar #gear {
	display: block;
	opacity: 0;
	transition: opacity 1000ms;
	transition-delay: 3000ms;
}